/* FUENTES IMPORTADAS */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILO DEL ENCABEZADO PRINCIPAL */
header.encabezado {
    position: relative;
    width: 100vw;
    height: 10vh;
    background-color: black;
}

.encabezado-principal {
    position: absolute;
    top: 2.5vh;
    left: 1vw;
    width: auto;
    height: 5vh;
    background-color: black;
}

.logo,
.nombre {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.logo img {
    width: 100%;
    height: 100%;
}

.nombre {
    margin-left: 2vw;
    line-height: 5vh;
    font-family: Orbitron;
    font-size: 3vh;
    font-weight: 600;
    color: darkgrey;
}

/* MENÚ DE NAVEGACIÓN */
nav {
    position: relative;
    height: 5vh;
    width: 100vw;
    text-align: center;
    background-color: black;
    z-index: 100;
}

.nav {
    list-style: none;
}

.nav>li {
    position: relative;
    display: inline-block;
    margin: 0 2vw;
    font-family: Oxanium;
    font-size: 2vh;
    padding-bottom: 1vh;
}

.nav>li>a {
    display: block;
    padding: 1vh;
    color: darkgrey;
    background-color: black;
    text-decoration: none;
}

.nav li a:hover {
    color: black;
    background-color: darkgrey;
    transition: 0.5s;
}

.nav li ul {
    position: absolute;
    display: none;
}

.nav li:hover>ul {
    display: block;
    top: 5vh;
    transition: 0.5s;
}

.nav li ul li {
    position: relative;
    list-style: none;
}

.nav li ul li a {
    display: block;
    padding: 1.2vh;
    color: darkgrey;
    background-color: black;
    text-decoration: none;
    text-align: left;
}

/* MAIN */
.principal {
    position: relative;
    width: 75vw;
    min-height: 75vh;
    margin-right: 25vw;
    background-image: url("../img/main-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 2vh;
}

.principal img {
    display: block;
    margin: auto;
    width: 50vw;
    max-height: 48vh;
}

.principal-titulo {
    position: relative;
    text-align: center;
    padding: 2vh;
    font-family: Orbitron;
    font-size: 4vh;
    font-weight: 600;
    color: darkgrey;
    text-transform: uppercase;
}

.principal article>h2 {
    position: relative;
    margin: 2vh;
    font-family: Oxanium;
    font-size: 3vh;
    text-align: center;
    color: darkgrey;
}

.principal article>p {
    position: relative;
    margin: 1.5vh;
    font-family: Oxanium;
    font-size: 2vh;
    text-align: center;
    color: darkgrey;
}

.principal article ol {
    position: relative;
    margin: 1.5vh;
    padding: 1.5vh 3vw;
    font-family: Oxanium;
    font-size: 2vh;
    text-align: left;
    color: darkgrey;
}

.principal article ol li {
    margin-bottom: 1vh;
}

.principal footer>p {
    position: relative;
    margin-bottom: 1vh;
    font-family: Oxanium;
    font-size: 2vh;
    text-align: center;
    color: darkgrey;
}

/* Sección exclusiva para noticias.html */
.noticia {
    position: relative;
    top: 0;
    left: 0;
    width: 70vw;
    height: 20vh;
    margin: 1.5vh;
    padding: 1.5vh 3vw;
    background-color: rgba(0, 0, 0, 0.7);
    border: 0.25vh solid darkgrey;
    border-radius: 1vh;
}

#noticia1 {
    height: 22vh;
}

.noticia img {
    position: absolute;
    top: 2.5vh;
    left: 1vw;
    height: 15vh;
    width: 15vh;
    border-radius: 1vh;
}

.noticia-bloque {
    position: absolute;
    top: 2.5vh;
    left: 9.25vw;
    width: 60vw;
    height: 20vh;
}

.noticia-titular {
    font-family: Oxanium;
    font-size: 3vh;
    text-align: left;
    color: darkgrey;
}

.noticia-texto {
    font-family: Oxanium;
    font-size: 2vh;
    text-align: left;
    color: darkgrey;
}

/* MAIN PARA publicaciones.html*/
.publicaciones {
    position: relative;
    width: 100vw;
    min-height: 75vh;
    margin-right: 0;
    background-image: url("../img/main-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 2vh;
}

.publicacion {
    position: relative;
    top: 0;
    left: 0;
    width: 96vw;
    height: 15vh;
    margin: 1.5vh;
    padding: 1.5vh 3vw;
    background-color: rgba(0, 0, 0, 0.7);
    border: 0.25vh solid darkgrey;
    border-radius: 1vh;
}

.publicacion-bloque {
    position: absolute;
    top: 2.5vh;
    left: 7vw;
    width: 88vw;
    height: 20vh;
}

.publicacion img {
    position: absolute;
    top: 2.5vh;
    left: 1vw;
    height: 10vh;
    width: 10vh;
    border-radius: 1vh;
}

.publicacion-bloque h3 span {
    font-weight: 400;
}

/* Exclusivo para localización.html*/
#ubicacion {
    height: 50vh;
    width: 40vw;
}

#direccion {
    font-size: 3vh;
    font-weight: 500;
    margin-top: 3vh;
}

/* CONTACTO - FORMULARIO */
.formulario {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background-image: url("../img/main-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 2vh;
}

.formulario p {
    position: relative;
    margin-bottom: 1vh;
    font-family: Oxanium;
    font-size: 2vh;
    text-align: center;
    color: darkgrey;
}

.formulario-bloque-principal {
    position: relative;
    top: 1vh;
    margin-bottom: 2vh;
}

.formulario-bloque {
    position: relative;
    display: block;
    width: 30vw;
    height: auto;
    margin: auto;
    border: 0.5vh solid darkgrey;
    border-radius: 1vh;
    background-color: rgba(0, 0, 0, 0.75);
}

.formulario-bloque legend {
    margin-bottom: 1vh;
    margin-left: 2vw;
    padding: 0.5vh;
    border: 0.25vh solid darkgrey;
    border-radius: 0.25vh;
    font-family: Oxanium;
    font-size: 2vh;
    color: darkgrey;
    text-transform: uppercase;
}

.formulario-campo {
    margin: 1vh 0;
    height: 3vh;
    font-family: Oxanium;
    font-size: 2vh;
    color: darkgrey;
}

.formulario-campo label {
    position: absolute;
    display: inline-block;
    right: 15vw;
}

.formulario-campo input {
    position: absolute;
    display: inline-block;
    width: 12vw;
    left: 15vw;
    font-family: Oxanium;
    font-size: 1.5vh;
}

.formulario-campo select {
    position: absolute;
    display: inline-block;
    width: 12vw;
    left: 15vw;
    font-family: Oxanium;
    font-size: 1.5vh;
}

.formulario-bloque textarea {
    display: block;
    margin: auto;
    margin-bottom: 2vh;
    top: 1vh;
    left: 2vw;
    width: 26vw;
    height: 14vh;
    resize: none;
    font-family: Oxanium;
    font-size: 2vh;
    color: black;
    border-radius: 1vh;
}

#botones{
    text-align: center;
}

button{
    display: inline-block;
    top: 3vh;
    height: 5vh;
    width: 5vw;
    margin: 0 1vw;
    border-radius: 1vh;
}

#botones ion-icon{
    font-size: 4vh;
}

#send:hover{
    background-color: limegreen;
    transition: 0.5s;
}

#reset:hover{
    background-color: red;
    transition: 0.5s;
}

/* ASIDE */
.lateral {
    position: absolute;
    right: 0;
    top: 15vh;
    width: 25vw;
    min-height: 81.2vh;
    background-color: black;
    border: 0.5vh solid darkgrey;
}

/* Ajuste especifico para la zona lateral en quienessomos.html */
.lateral-quienessomos {
    position: absolute;
    right: 0;
    top: 15vh;
    width: 25vw;
    min-height: 91.5vh;
    background-color: black;
    border: 0.5vh solid darkgrey;
}

/* Ajuste especifico para la zona lateral en areasactuacion.html */
.lateral-areasactuacion {
    position: absolute;
    right: 0;
    top: 15vh;
    width: 25vw;
    min-height: 117vh;
    background-color: black;
    border: 0.5vh solid darkgrey;
}

/* Ajuste especifico para la zona lateral en noticias.html */
.lateral-noticias {
    position: absolute;
    right: 0;
    top: 15vh;
    width: 25vw;
    min-height: 81vh;
    background-color: black;
    border: 0.5vh solid darkgrey;
}

.lateral-titulo {
    position: relative;
    margin: 3vh 1vh;
    text-align: center;
    font-family: Orbitron;
    font-size: 3vh;
    font-weight: 600;
    color: darkgrey;
    text-transform: uppercase;
}

.lateral-bloque h3:hover {
    color: whitesmoke;
    transition: 0.5s;
}

.lateral-bloque {
    position: relative;
    background-color: black;
    margin: .5vh;
    padding: 1vh 1vw;
    border: 0.25vh solid darkgrey;
    border-radius: 1vh;
}

.lateral-bloque a {
    text-decoration: none;
}

.lateral-bloque h3 {
    padding: 1vh;
    font-family: Oxanium;
    font-size: 2vh;
    color: darkgrey;
}

.lateral-bloque-contenido {
    position: relative;
    height: auto;
    min-height: 12vh;
    background-color: black;
}

.lateral-bloque-texto {
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 12vw;
    height: auto;
    font-family: Oxanium;
    font-size: 1.5vh;
    color: darkgrey;
}

.lateral-bloque-contenido img {
    position: absolute;
    top: 0;
    left: 12.5vw;
    max-width: 8.5vw;
}

#lateral-logo {
    height: 9vh;
    width: auto;
}

/* FOOTER */
.pie-pagina {
    position: relative;
    height: 10vh;
    width: 100vw;
    left: 0;
    bottom: 0;
    background-color: black;
}

.copyright {
    position: absolute;
    top: 4.5vh;
    left: 2vw;
    height: 5vh;
    width: 30vw;
    font-family: Oxanium;
    font-size: 1.5vh;
    color: darkgrey;
}

.redes-sociales {
    position: relative;
    top: 2.5vh;
    left: 82vw;
    height: 5vh;
    width: 14vw;
}

.linkedin {
    position: absolute;
    top: 0;
    left: 0;
    height: 5vh;
    max-width: 5vh;
}

.gmail {
    position: absolute;
    top: 0;
    left: 5vw;
    height: 5vh;
    max-width: 5vh;
    font-size: 5vh;
    color: darkgrey;
}

.github {
    position: absolute;
    top: 0;
    left: 10vw;
    height: 5vh;
    max-width: 5vh;
    font-size: 5vh;
    color: darkgrey;
}

.redes-sociales a>ion-icon {
    font-size: 5vh;
    color: darkgrey;
}

.redes-sociales a>ion-icon:hover {
    color: whitesmoke;
    transition: 0.5s;
}